@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #4682B4;
  --color-secondary: #FFC0CB;
  --color-gray: #C8C8C8;
  --color-gray-light: #F5F5F5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@media (prefers-color-scheme: dark) {
  /* Estilos para el modo oscuro */
  /* Utiliza las clases de utilidad de Tailwind para estilizar elementos en modo oscuro */
  body {
    background-color: #1a1a1a;
    color: #ffffff;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
	background-color: white;
}
::-webkit-scrollbar-track {
  background-color: white;
	border-radius: 10px;   
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
  background-color: var(--color-primary);
}
